/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clear {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*end reset*/

body {
   font-family: 'Open Sans', sans-serif;
    font-size: 100%;
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*--header--*/

h1 {
    font-size: 3.5em;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    /* font-weight: 600; */
    margin: 0 2vw 3vw;
    padding-top: 2vw;
	 font-family: 'Josefin Sans', sans-serif;
}

h1 span {
    color: #E91E63;
	 font-family: 'Josefin Sans', sans-serif;
}

/*--//header--*/

/*-- content --*/

.sub-main-w3 {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center;
}

.wthree-info {
    max-width: 800px;
    margin: 0 5vw;
    padding: 1.5vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
/*--newsletter--*/
.newsletter {
    text-align: left;
    width: 100%;
    margin: 1em 0 1em;
    position: relative;
}
.newsletter form{
	border:none;
	border-bottom:1px solid #36001c;
}
.newsletter h2{
    color: #fff;
    font-size: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.newsletter input[type="email"] {
    padding: 13px 15px;
    border:none;
    width: 70%;
    box-sizing: border-box;
    text-align: left;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    outline: none;
    letter-spacing: 2px;
    border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.newsletter input[type="submit"] {
    width: 30%;
    height: 43px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #36001c;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0em;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*--//newsletter--*/
.wthree-info p {
    color: #FFFFFF;
    font-size: 2.5em;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: 1em auto 0.5em;
    text-align: center;
    font-weight: 400;
}
p.noti {
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    flex-basis: 100%;
    margin-top: 3em;
    font-size: 1.1em;
    text-transform: capitalize;
}
/*-- social-icons --*/
.agileinfo-social-grids {
    margin: 1em 0;
    flex-basis: 100%;
    text-align: center;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 8px;
}
.agileinfo-social-grids ul li a {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 11px;
    border: 1px solid #fff;
}
.agileinfo-social-grids ul li a.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a.fa.fa-facebook:hover {
    background: #3b5998;
	border: 1px solid #3b5998;
}
.agileinfo-social-grids ul li a.fa.fa-twitter:hover{
	background: #55acee;
	border: 1px solid #55acee;
}
.agileinfo-social-grids ul li a.fa.fa-rss:hover{
	background: #f26522;
	border: 1px solid #f26522;
}
.agileinfo-social-grids ul li a.fa.fa-vk:hover{
	background: #45668e;
	border: 1px solid #45668e;
}

/*-- //social icons --*/
/*--timer--*/
.agile {
	text-align: center;
	padding:3em 0;
    background: rgba(0, 0, 0, 0.3);
}

.examples {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
	flex-basis:100%;
	 -webkit-flex-basis: 100%;
}

div#simply-countdown-losange {
    max-width: 100%;
    margin: 1vw 3vw;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
}

.simply-section {
    flex-basis: 22%;
    -webkit-flex-basis: 22%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    padding: 1vw;
    background: none;
    border: 2px solid #fff;
	border-radius:50%;
	margin-right:4%;
}

.simply-section:nth-child(4){
	margin-right:0%;
}

span.simply-amount {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

span.simply-word {	
    font-size: .8em;
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin-top: 0.5em;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
}

/* --//timer-- */
/*--placeholder-color--*/

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

/*-- //placeholder-color --*/

/*-- socila icons --*/

.footer-social ul li {
    display: inline-block;
}

.footer-social ul li:nth-child(2) {
    margin: 0 5px;
}

.footer-social ul li:nth-child(3) {
    margin-right: 5px;
}

i.icon_twitter {
    background: #1da1f2;
}

i.icon_facebook {
    background: #3b5998;
}

i.icon_dribbble {
    background: #ea4c89;
}

i.icon_g_plus {
    background: #dd4b39;
}

.footer-social ul li a {
    color: #212121;
}

.footer-social ul li i {
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    line-height: 2.7;
}

.footer-social ul li a {
    color: #212121;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer-social ul li:hover a {
    opacity: 0.8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer-social {
    width: 100%;
    text-align: right;
}

.footer-social ul {
    float: right;
}

.footer-social h2 {
    margin: 2em 0 1em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

/*-- //socila icons --*/

/*-- //content --*/

/*-- copyright --*/

.footer {
    margin: 0.5vw .3vw 0;
    padding-bottom: 2.4vw;
}

.footer p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.8;
}

.footer p a {
    color: #37001d;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer p a:hover {
    color: #fff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/*-- //copyright --*/

/*--responsive--*/
@media(max-width:1280px) {
div#simply-countdown-losange {
    margin: 1vw 5vw;
}
}
@media(max-width:1080px) {
    h1 {
        font-size: 4.5vw;
    }
	div#simply-countdown-losange {
    margin: 1vw 8vw;
}
.wthree-info p {
    font-size: 2em;
}
}

@media(max-width:900px) {
    h1 {
        font-size: 3em;
    }
}
@media(max-width:768px) {
div#simply-countdown-losange {
    margin: 1vw 5vw;
}
.wthree-info p {
    font-size: 1.7em;
}
.wthree-info p {
    font-size: 1.1em;
}
}
@media(max-width:667px) {
div#simply-countdown-losange {
    margin: 1vw 1vw;
}
span.simply-word {	
    margin-top: 0em;
}
.wthree-info p {
    font-size: 1em;
}
.simply-section {
    flex-basis: 23%;
    -webkit-flex-basis: 23%;
	margin-right:2%;
}
}
@media(max-width:480px) {
    h1 {
        font-size: 2.5em;
        letter-spacing: 1px;
    }
    .sub-main-w3 form {
        padding: 0vw;
    }
    .footer p {
        letter-spacing: 1px;
    }
	.wthree-info {
    padding: 0;
}
div#simply-countdown-losange {
    margin: 1vw 0vw;
}
.wthree-info p {
    font-size: 1.3em;
}
span.simply-amount {
    font-size: 50px;
}
p.noti {
    font-size: .9em;
}
}
@media(max-width:440px) {
.simply-section {
    flex-basis: 48%;
    -webkit-flex-basis: 48%;
	margin-bottom:0.5em;
}
.newsletter input[type="email"] {
    width: 60%;
}
.newsletter input[type="submit"] {
    width: 40%;
}
div#simply-countdown-losange {
    margin: 1vw 19vw;
}
}
@media(max-width:414px) {
div#simply-countdown-losange {
    margin: 1vw 17vw;
}
.simply-section {
    padding-bottom:10px;
}
}
@media(max-width:384px) {
    .form-style-agile input[type="text"],
    .form-style-agile input[type="password"] {
        font-size: 13px;
        padding: 13px 15px;
    }
    .footer p {
        font-size: 13px;
    }
	div#simply-countdown-losange {
    margin: 1vw 18vw;
}
.wthree-info p {
    font-size: 1.2em;
}
p.noti {
    font-size: .9em;
}
}
@media(max-width:320px) {
    h1 {
        font-size: 2em;
    }
    .footer-social h2 {
        font-size: 15px;
    }
    h1 {
        margin: 0 2vw 6vw;
        padding-top: 4vw;
    }
	.newsletter input[type="submit"] {
    font-size: 12px;
	}
	p.noti {
    letter-spacing: 1px;
	}
	div#simply-countdown-losange {
    margin: 1vw 8vw;
}
.simply-section {
    padding-bottom:14px;
}
}

/*--//responsive--*/